<!-- if-else block to replace the entire page with the component of the target path -->

<!-- TODO: If index < 9 continue to show quizzes, else show RESULTS -->

<main *ngIf="is_quizpage; else newPage">
  <p class="question">{{ questions[index] }}</p>
  <app-play
    [characters]="answers"
    [index]="index"
    (newIndex)="updateIndex()"
  ></app-play>

  <a
    *ngIf="index >= 9"
    (click)="changePage()"
    routerLink="../"
    routerLinkActive="active"
  >
    Home
  </a>
</main>

<ng-template #newPage><router-outlet></router-outlet></ng-template>
