:root {
  --primary-color: #4764e6;
  --secondary-color: #37aaf7;
  --light-color: #b6c2fc;
  --text-color: #1f2937;
}

main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  background: var(--light-color);
  border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  color: var(--text-color);
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background: var(--secondary-color);
  }
}
