.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .github {
    all: unset;
    margin: 0rem;
    margin-top: 0.2rem;

    img {
      margin: 0.5rem;
    }
  }
}
