<!-- if-else block to replace the entire page with the component of the target path -->

<main *ngIf="is_homepage; else newPage">
  <h1>My DBZ</h1>
  <p>Discover Who You Are in DBZ!</p>
  <img src="../assets/img/dbz.png" width="200" />
  <a (click)="changePage()" routerLink="/how-to-play" routerLinkActive="active">
    Start
  </a>
  <footer class="footer">
    Star me on
    <a href="https://github.com/xyntechx/My-DBZ" class="github">
      <img src="../assets/img/github.png" width="20" class="bounce" />
    </a>
  </footer>
</main>

<ng-template #newPage><router-outlet></router-outlet></ng-template>
