:root {
  --primary-color: #c80b21;
  --secondary-color: #dc7303;
  --light-color: #e7940a;
  --text-color: #ffffff;
}

.option {
  all: unset;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  margin: 2rem 0;
  font-size: 1.5rem;
  background-color: var(--light-color);
  transition: background-color 0.3s;
  width: 80vw;

  &:hover {
    background: var(--secondary-color);
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .option {
    font-size: 1rem;
    margin: 1rem 0;
  }
}
